body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 600px;
}

#piechartdiv {
  width: 100%;
  height: 300px;
}

.label {
  display: flex;
  justify-content: center;
  color: rgba(black, .6);
  background: -webkit-linear-gradient(rgb(220, 189, 103), rgb(220, 103, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.team-img {
  border-radius: 100%;
  height: 8rem;
}